API_BASE_URL=
DATABASE_URL=
JWT_SECRET=

# PayMongo
PAYMONGO_SECRET_KEY=
PAYMONGO_PUBLIC_KEY=
PAYMONGO_WEBHOOK_SECRET=

#CLOUDINARY ASSETS
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Frontend URLs
#FRONTEND_URL=http://localhost:4200
FRONTEND_SUCCESS_URL=
FRONTEND_FAILED_URL=


GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash

REDIS_URL=