# ==========================================
# Build
# ==========================================
dist/
build/

# ==========================================
# Dependencies
# ==========================================
node_modules/

# ==========================================
# Environment
# ==========================================
.env
.env.*
!.env.example

# ==========================================
# Logs
# ==========================================
logs/
*.log

# ==========================================
# Coverage
# ==========================================
coverage/
.nyc_output/

# ==========================================
# Runtime
# ==========================================
pids/
*.pid
*.seed
*.pid.lock

# ==========================================
# Temporary
# ==========================================
.temp/
.tmp/

# ==========================================
# Uploads
# ==========================================
uploads/

# ==========================================
# Database Backups
# ==========================================
backups/
*.dump

# ==========================================
# IDE
# ==========================================
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ==========================================
# OS
# ==========================================
.DS_Store